In [18]:
import pandas as pd
from shutil import copyfile
from tqdm import tqdm
import os

In [3]:
df = pd.read_csv('data.csv')
df.head()

,file_name,split,caption
0,2513260012_03d33305cf.jpg,train,A black dog is running after a white dog in th...
1,2513260012_03d33305cf.jpg,train,Black dog chasing brown dog through snow
2,2513260012_03d33305cf.jpg,train,Two dogs chase each other across the snowy gro...
3,2513260012_03d33305cf.jpg,train,Two dogs play together in the snow .
4,2513260012_03d33305cf.jpg,train,Two dogs running through a low lying body of w...

In [5]:
train_imgs = set(df[df['split'] == 'train'].file_name.values)
valid_imgs = set(df[df['split'] == 'val'].file_name.values)
test_imgs  = set(df[df['split'] == 'test'].file_name.values)

In [8]:
dictionary = {'train': train_imgs, 'valid': valid_imgs, 'test': test_imgs}

In [11]:
src_path = '/run/media/kelwa/DEV/GP/Image-Captioning/flickr/Images/'
dest_path = './'

In [12]:
os.path.isdir(src_path)

True

In [19]:
for f in tqdm(dictionary.keys()):
    current_path = os.path.join(dir_path, f)
    if not os.path.isdir(current_path):
        os.mkdir(current_path)
    for img_name in tqdm(dictionary[f]):
        img_path = os.path.join(src_path, img_name)
        copyfile(img_path, current_path+'/'+img_name)
        break

  0%|          | 0/3 [00:00<?, ?it/s]
  0%|          | 0/6000 [00:00<?, ?it/s]

  0%|          | 0/1000 [00:00<?, ?it/s]

  0%|          | 0/1000 [00:00<?, ?it/s]
100%|██████████| 3/3 [00:00<00:00, 154.88it/s]